* {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    box-sizing: border-box;

}
body{
    background: grey;

}
.chatbox {
    width: 50%;
    min-width: 390px;
    height: 90%;
    background: lightskyblue;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 3px blue;
}
.chatlogs {
    padding: 10px;
    width: 100%;
    height: 450px;
    background: lightgrey;
    opacity: 0.8;
    overflow-x: hidden;
    overflow-y: scroll;

}
.chat {
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
    margin-bottom: 10px;


}
.chat .avatar {
    float: left;
    width: 60px;
    height: 60px;
    background: grey;
    margin: 5px 5px 0;
    border-radius: 50%;

}
.chat .chat-message {
    word-wrap: break-word;
    padding: 15px;
    margin: 5px 5px 0;
    background: #f2f2f2;
    border-radius: 10px;
    font-size: 14px;
    float:right;
}
.server-message {
    font-size: 10px;
    color:white;
    margin: 5px 5px 0;
}
li {
    margin: 5px 5px 0;
    list-style-type : none;
}
.input-label {
    position: relative;
}
.input-label input {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width:100%;
    height:100%;
}
.input-label {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 2px;
    margin: 0px;
    background: #DDD;
    display: inline-block;
}
#input-message {
    width :75%;
    height:30px;
}
#input-send {
    width:20%;
    height: 30px;
}
.divTime {
    vertical-align:-100%;
    font-size: 10px;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 2px;
}

.buttons {
	display: flex;
    margin: 0px;
}

.user {
    vertical-align: bottom;
    align-self: flex-start;

}
