<!DOCTYPE html>

<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div class="chatbox">
            <div class="chatlogs">




                <div class="chat">






                        <ul id="chat-messages">
                            <div class="avatar"></div>
                            <div class="chat-message"></div>
                        </ul>

                </div>
            </div>
        <hr>
        <button data-vote="yes">#</button>
        <button data-vote="no">/</button>
        <button data-vote="maybe">@</button>
        <div class="filebutton">Send Image<input type="file" id="imagefile" accept="image/*"></div>
        <form  id="sendForm" class="" action="" >
            <input  id="input-message" type="text" name="" value="">
            <input type="submit" name="" value="Send">
        </form>
    </div>
    </body>
</html>
